.rectangle{
    height: 24.5vw;
    width: 100%;
    position: relative;
}

#red{
 background-color: #CE1126	;
}

#blue{
 background-color: #0038A8;
}

.white-triangle{
    width: 0;
    height: 0;
    border-left: 24.5vw solid transparent;
    border-right: 24.5vw solid transparent;
    border-bottom: 39vw solid white;
    top: 5vw;
    left: -5vw;
    position: absolute;
    transform: rotate(90deg);
}

.star {
    position: relative;
    width: 0;
    height: 0;
    border-right: 3vw solid transparent;
    border-bottom: 2.1vw solid #ffd700;
    border-left: 3vw solid transparent;
    transform: rotate(90deg);
}

.star:before {
    content: '';
    position: absolute;
    top: -1.35vw;
    left: -1.95vw;
    width: 0;
    height: 0;
    border-right: 0.9vw solid transparent;
    border-bottom: 2.4vw solid #ffd700;
    border-left: 0.9vw solid transparent;
    transform: rotate(-35deg);
}

.star:after {
    content: '';
    position: absolute;
    top: 0.09vw;
    left: -3.15vw;
    width: 0;
    height: 0;
    border-right: 3vw solid transparent;
    border-bottom: 2.1vw solid #ffd700;
    border-left: 3vw solid transparent;
    transform: rotate(-70deg);
}

body{
    height: 100vh;
    margin: 0;
}

#star-u {
    top: 34vw;
    left: -20vw;

}

#star-m {
    top: 4.5vw;
    left: -2.5vw;
}

#star-d {
    top: 300vw;
    left: 15vw;
}

.sun-container {
      position: relative;
      top: 13vw;
      left: -10vw;
}

.sun {
      width: 10.5vw;
      height: 10.5vw;
      background: #ffd700;
      border-radius: 50%;
      position: absolute;
      top: 1.4vw;
      left: 5vw;
      z-index: 1;
    }

    .ray {
      position: absolute;
      width: 1vw;
      height: 4vw;
      background: #ffd700;
      top: 2.5vw;
      left: 9.5vw;
      transform-origin: bottom center;
    }

    .ray:nth-child(2)  { transform: rotate(0deg)   translateY(-5vw); }
    .ray:nth-child(3)  { transform: rotate(45deg)  translateY(-5vw); }
    .ray:nth-child(4)  { transform: rotate(90deg)  translateY(-5vw); }
    .ray:nth-child(5)  { transform: rotate(135deg) translateY(-5vw); }
    .ray:nth-child(6)  { transform: rotate(180deg) translateY(-5vw); }
    .ray:nth-child(7)  { transform: rotate(225deg) translateY(-5vw); }
    .ray:nth-child(8)  { transform: rotate(270deg) translateY(-5vw); }
    .ray:nth-child(9)  { transform: rotate(315deg) translateY(-5vw); }